<div id="<%= dom_id a_animal %>">
  <p>
    <strong>Nome:</strong>
    <%= a_animal.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= a_animal.idade %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= a_animal.descricao %>
  </p>

  <p>
    <strong>Castrado:</strong>
    <%= a_animal.castrado %>
  </p>

  <p>
    <strong>Visto por ultimo:</strong>
    <%= a_animal.visto_por_ultimo %>
  </p>

  <p>
    <strong>A especie:</strong>
    <%= a_animal.a_especie_id %>
  </p>

  <p>
    <strong>A cor:</strong>
    <%= a_animal.a_cor_id %>
  </p>

  <p>
    <strong>A bairro:</strong>
    <%= a_animal.a_bairro_id %>
  </p>

  <p>
    <strong>A porte:</strong>
    <%= a_animal.a_porte_id %>
  </p>

</div>
